target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse / VS Code ###
.classpath
.project
.settings/
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Secrets locaux ###
.env
application-local.properties
